/* Importa las utilidades de Tailwind CSS primero */
@import 'tailwindcss/utilities';

/* Importa los estilos de base de Tailwind CSS */
@import 'tailwindcss/base';

/* Importa los componentes de Tailwind CSS */
@import 'tailwindcss/components';

/* Importa la fuente Inter después de las importaciones de Tailwind CSS */
@import '@fontsource/inter';

/* Tus estilos personalizados vienen después de las importaciones de Tailwind y fuentes */
body {
  font-family: 'Inter', sans-serif;
}

.cardHome {
  color: black;
  position: relative;
  font-family: sans-serif;
}

.cardHome::before,
.cardHome::after {
  content: "";
  background-color: rgb(255, 235, 235);
  position: absolute;
}

.cardHome::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}


.cardHome .box {
  padding: 1rem;
  background-color: rgba(241, 226, 226, 0);
  border: 1px solid rgba(0, 0, 0, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}

.cardHome .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardHome .box:hover {
  box-shadow: 0px 0px 20px 2px #96D9C6;
  
}

